h1{
    text-align: center;
    transition: all 1s;
    text-shadow: 2px 2px 2px orange;
    margin-top: 20px;

}
h1:hover{
    transform: scale(1.1);
}
p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.robot
{

}

.head,
.left-arm,
.torso,
.right-arm,
.left-leg,
.right-leg
{
    background-color: #5f93e8;
}

.head{
	 width: 200px;
     margin: 0 auto;
     height: 150px;
     border-radius: 200px 200px 0 0;
     margin-bottom: 10px;

}
.head:hover{
    width: 300px;
    transition: 1s ease-in-out;
}
.eye{

}

.upper-body{
    width: 300px;
    margin: 0 auto;
    height: 150px;
    display: flex;
}


.left-arm, .right-arm{
    width: 40px;
    height: 125px;
    border-radius: 100px;
}
.left-arm{
    margin-right: 10px;
}
.right-arm{
    margin-left: 10px;
}
.left-arm:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.right-arm:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.torso{
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
}

.lower-body{
    width: 200px;
    height: 200px;
    margin:0 auto;
    display: flex;
}
.left-leg, .right-leg
{
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
}
.left-leg{
    margin-left: 40px;
}
.right-leg{
    margin-left: 45px;
}

.left-leg:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.right-leg:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}


.left-eye, .right-eye { 
    width: 20px; 
    height: 20px; 
    border-radius: 15px; 
    background-color:white;  
} 
.left-eye{
    position: relative;
    top:100px;
    left: 40px;
}
.right-eye{
    position: relative;
    top: 80px;
    left: 130px;
}